%li.Box-row.border-0.p-2.d-flex.flex-items-center
  .flex-auto
    %span.mr-2
      ✅
      = track.body
  %time.text-small.text-gray= t('.ago', time_ago_in_words: time_ago_in_words(track.created_at))
  - if policy(track).update?
    %details.details-reset.details-with-dialog.ml-2
      %summary.btn-link.text-gray-dark.d-inline-block
        %i.v-align-text-top{data: { feather: 'edit' }, 'stroke-width': 1 }
      %details-dialog.anim-fade-in.fast.wide
        = render 'users/tracks/form', track: track