.Box
  %ul
    %li.Box-row.d-flex.flex-items-center
      .d-flex.flex-auto
        .d-flex.mr-3
          = user.icon_image(class: 'avatar mr-1', size: 50)
        .flex-column
          %strong
            = link_to user.name, user_overview_path(user), class: 'd-block link-gray-dark'
          %p.text-small.text-gray-light
            = t('.track_size', size: user.tracks.in_project(project).size)
      // FIXME: after membership model
      - if local_assigns[:deletable]
        .d-flex.flex-justify-center
          = link_to t('.leave'), project_members_path(project), class: 'btn btn-danger disabled'
