.col-lg-3.col-md-4.col-12.float-md-left.pr-md-3.pr-xl-6
  .clearfix.mb-2
    .float-left.col-3.col-md-12.pr-3.pr-md-0
      = image_tag "https://via.placeholder.com/150", class: 'avatar width-full height-full'
    .float-left.col-9.col-md-12.pl-2.pl-md-0
      .pt-1.pt-md-3.pb-1.pb-md-3
        %h1
          %span.d-block.overflow-hidden
            = @user.name
        - if policy(@user).update?
          .d-none.d-md-block
            .hide-sm.hide-md
              = link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-block mt-2 mb-3'

.col-lg-9.col-md-8.col-12.float-md-left.pl-md-2
  %nav.UnderlineNav
    .UnderlineNav-body
      %a.UnderlineNav-item.selected(href="#overview")
        Overview
      %a.UnderlineNav-item(href="#overview")
        Projects