= render(Users::Show::Layout, editable: policy(@user).update?, user: @user, current_path: request.path) do
  %ul.d-flex.flex-wrap.list-style-none
    = render @projects
    %li.col-12
      = render 'layouts/pagination', pagy: @pagy

