%li.col-12.col-md-6.col-lg-6.mb-3.d-flex.flex-content-stretch
  .Box.d-flex.p-3.width-full
    .d-flex.width-full.flex-items-center.position-relative
      .flex-auto
        .float-left.p-1.mr-1
          = image_tag "https://via.placeholder.com/100", class: 'avatar width-full height-full', height: '25', width: '25'
        = link_to project.title, project_path(project), class: 'text-bold min-width-0 mb-1'
        .text-gray.text-small.mb-2 これは説明文です。これは説明文です。これは説明文です
