.col-12
  = form_with model: ActionForm.new(owner: current_user), data: { controller: 'autocomplete' } do |f|
    .col-10.mb-3.pr-2.float-left
      = f.text_field :raw_body, class: 'form-control input-block', autocomplete: 'off', data: { target: 'autocomplete.rawBody' }
    .col-2.mb-3.float-left
      = f.submit class: 'btn btn-block btn-primary'

.col-lg-3.col-12.float-left.pr-lg-3
  .Box.border-0
    .Box-body
      Hi
    .Box-footer
      HiHI

.col-lg-9.col-12.float-left{ data: { controller: 'infinite-scroll' } }
  - @actions_by_date.each do |date, actions|
    .Box.mb-2.action
      .Box-header
        %h3.Box-title
          = date
      %ul
        =render actions
  =render 'layouts/pagination', pagy: @pagy
