%h1 Root#index

.col-lg-3.col-12.float-left.pr-lg-3
  .Box.border-0
    .Box-body
      Hi
    .Box-footer
      HiHI

.col-lg-9.col-12.float-left
  %div{data: {controller: 'action-loader', 'action-loader-url': actions_path }}
