%h1 Root#index

.col-lg-3.col-12.float-left.pr-lg-3
  .Box.border-0
    .Box-body
      Hi
    .Box-footer
      HiHI

.col-lg-9.col-12.float-left.recent-actions
  - @actions_by_date.each do |date, actions|
    .Box.mb-2
      .Box-header
        %h3.Box-title
          = date
      %ul
        =render actions
  =render 'layouts/pagination', pagy: @pagy
