.col-lg-3.col-12.float-left.pr-lg-3
  .Box.border-0
    .Box-body
      Hi
    .Box-footer
      HiHI

.col-lg-9.col-12.float-left
  - @tracks_by_date.each do |date, tracks|
    .Box.mb-2.track
      .Box-header
        %h3.Box-title
          = date
      - tracks.group_by(&:owner).each do |owner, ts|
        .Box-body
          = link_to owner.name, user_overview_path(owner), class: 'link-gray-dark'
          %ul
            =render ts
  =render 'layouts/pagination', pagy: @pagy
