.container-lg.clearfix.px-2.pb-6
  .position-relative.d-flex.flex-justify-between.pt-6.pb-2.mt-6.f6.text-gray.border-top.border-gray-light
    %ul.list-style-none.d-flex.flex-wrap
      %li.mr-3
        © 2019 
        %span kimihito
      %li.mr-3
        = link_to 'Terms', root_path
      %li.mr-3
        = link_to t('.privacy'), privacy_path
